---
import { SCORE_API_ENDPOINT } from "astro:env/server";

const response = await fetch(SCORE_API_ENDPOINT);

const score = await response.text();
---

<span class="text-xs" id="score">⭐️ Score: {score.trim()}/5</span>
